.brand {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
button:hover {
  opacity: 0.8;
}

.pointer {
  cursor: pointer;
}

.content {
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

@media (min-width: 1300px) {
  .App {
    width: 90%;
    margin: auto;
    padding: 5px;
  }
}
